<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="apple-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Apple
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apple-link">
                <a href="" class="dropdown-item">Airpods</a>
                <a href="" class="dropdown-item">iPad</a>
                <a href="" class="dropdown-item">iPhone</a>
                <a href="" class="dropdown-item">All Apple</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="samsung-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Samsung
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="samsung-link">
                <a href="" class="dropdown-item">Galaxy Buds</a>
                <a href="" class="dropdown-item">Galaxy Tab</a>
                <a href="" class="dropdown-item">Galaxy Phone</a>
                <a href="" class="dropdown-item">All Samsung</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Power Adapter</a>
                <a href="" class="dropdown-item">Selfie Stick</a>
                <a href="" class="dropdown-item">Power Bank</a>
                <a href="" class="dropdown-item">All Accessories</a>
            </div>
        </li>
    </ul>
</div>